@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card-background: oklch(0.2 0 0);
	--color-card-border: oklch(0.26 0 0);
	--spacing-dashboard: 0.4rem;
	--color-input-background: oklch(0.23 0 0);
	--color-input-border: var(--color-neutral-800);
	--color-input-muted: oklch(0.5 0 none);
	--color-input-error: var(--color-red-300);
}

:root {
	--radius: 0.625rem;
	--background: oklch(0.19 0 0);
	--foreground: oklch(0.89 0 0);
}

/* .dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
} */

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}
